body{
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}

.top{
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.bar-item{
  text-decoration: none;
  background-color: white;
  border: none;
  color: #000;
  text-align: center;
  cursor: pointer;
  padding: 8px 16px;
}

.bar-item:hover{
  background-color: #c3c1c1;
  
}

.bar{
  display: flex;
  align-items: center;
}

.right{
  padding-right: 15px;
}

.display-bottomleft{
  position: absolute;
  left: 40px;
  bottom: 0;
  opacity: 0.60;
}

.content{
    width: min(100% - 9vw, 1128px);
    margin-inline: auto;

}
.row {
display: flex;
gap: 50px;
opacity: 0.75;
padding: 70px;
}

.col{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Image{
  border: none;
  border-radius: 8px;
}
header{
  width: 100%;
  position: relative;
}

.large{
  font-size: large;
}

hr{
  border: 1px solid;
  color: #ece6e6;
}

.container{
  padding: 50px;
}

.bluegrey{
  color: #607d8b;
  font-size: 18px;
}

.input{
  color: #9f9a9a;
  border: none;
  border-bottom: 1px solid rgb(183, 179, 179);
  width: 100%;
  padding: 10px;
  padding-top: 14px;
}

.black{
  color: black;
  font-weight: 500;
}

.button{
  background-color: #efefef;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

footer{
  background: #efefef;
  padding: 25px;
  display: flex;
  justify-content: center;
}

a{
  color: #000;
}

p a:hover{
  color: green;
}

@media (min-width: 601px) {
    .col {
        width: 49.99999%;
    }
  }

  .tag{
    background-color: #ebebeb;
    padding: 3px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 2px;
  }

  .center{
  display: flex;
  justify-content: center;
  }

  @media only screen and (max-width: 700px){
    .right{
      display: none;
    }
  }

  @media only screen and (max-width: 700px){
    .hide{
      display: none;
    }
  }

  @media only screen and (max-width: 700px){
    .column{
      display: flex;
      flex-direction: column;
    }
  }




